In [199]:
import pandas as pd
import numpy as np
import os

In [189]:
df_origin=pd.read_csv('df_real_final2.csv', low_memory=False)

In [190]:
df=df_origin.copy()

In [191]:
pd.set_option('display.max_columns', None)

In [192]:
df

,age,gender,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,running_time,intermission,real_play_date,discount_percent,rev_dis,title,hold,agency,sponser,R_price,S_price,A_price,B_price,C_price,glee,normal,first_level,second_level,third_level,all,seat_level,play_date_time,floor,block,seat_line,seat_number,x,y,grade,tran_date_time,label,cancel_yn,age_mb,gld_mb,bl_mb,grn_mb,loyalty,seat_count,ticket_count,like,like_ratio,min_price,rev_seat,afford,discount_number,cancel_num,tran_rate,distance,seat_hot,angle_degrees,days
0,NaN,NaN,2018-10-29 00:00:00,09:10:00,2018-11-25,17:00:00,1층 B블록3열 1,0,2,초대권,715,2018-10-25 00:00:00,2018-10-26 00:00:00,클래식,120,15,2018-11-18,NaN,NaN,김자경오페라단 50주년 기념 오페라갈라콘서트,"(사)김자경오페라단, 시사저널e",NaN,NaN,100000.0,70000.0,50000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,free,2018-11-18 17:00:00,1층,B,3,1,31,-30,R_price,2018-10-29 09:10:00,1,0,비회원,0,0,0,0,3,1784,0.822653,99.972253,30000.0,100000.0,NaN,NaN,281,1521,27.018512,0.791946,38.990994,6
1,NaN,NaN,2018-10-29 00:00:00,09:20:00,2018-11-25,17:00:00,1층 B블록3열 1,0,2,기획사판매,715,2018-10-25 00:00:00,2018-10-26 00:00:00,클래식,120,15,2018-11-18,NaN,NaN,김자경오페라단 50주년 기념 오페라갈라콘서트,"(사)김자경오페라단, 시사저널e",NaN,NaN,100000.0,70000.0,50000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,free,2018-11-18 17:00:00,1층,B,3,1,31,-30,R_price,2018-10-29 09:20:00,1,0,비회원,0,0,0,0,3,1784,0.822372,99.861265,30000.0,100000.0,NaN,NaN,281,1521,27.018512,0.791946,38.990994,6
2,NaN,NaN,2018-10-29 00:00:00,10:06:00,2018-11-25,17:00:00,1층 B블록3열 1,0,0,기획사판매,715,2018-10-25 00:00:00,2018-10-26 00:00:00,클래식,120,15,2018-11-18,NaN,NaN,김자경오페라단 50주년 기념 오페라갈라콘서트,"(사)김자경오페라단, 시사저널e",NaN,NaN,100000.0,70000.0,50000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,free,2018-11-18 17:00:00,1층,B,3,1,31,-30,R_price,2018-10-29 10:06:00,1,0,비회원,0,0,0,0,3,1784,0.821079,97.447281,30000.0,100000.0,NaN,NaN,281,1521,27.018512,0.791946,38.990994,6
3,NaN,NaN,2018-10-29 00:00:00,09:10:00,2018-11-25,17:00:00,1층 B블록6열 1,0,2,초대권,715,2018-10-25 00:00:00,2018-10-26 00:00:00,클래식,120,15,2018-11-18,NaN,NaN,김자경오페라단 50주년 기념 오페라갈라콘서트,"(사)김자경오페라단, 시사저널e",NaN,NaN,100000.0,70000.0,50000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,free,2018-11-18 17:00:00,1층,B,6,1,30,-33,R_price,2018-10-29 09:10:00,1,0,비회원,0,0,0,0,3,1784,0.822653,99.972253,30000.0,100000.0,NaN,NaN,281,1521,29.732137,0.778523,42.273689,6
4,NaN,NaN,2018-10-29 00:00:00,09:20:00,2018-11-25,17:00:00,1층 B블록6열 1,0,2,기획사판매,715,2018-10-25 00:00:00,2018-10-26 00:00:00,클래식,120,15,2018-11-18,NaN,NaN,김자경오페라단 50주년 기념 오페라갈라콘서트,"(사)김자경오페라단, 시사저널e",NaN,NaN,100000.0,70000.0,50000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,free,2018-11-18 17:00:00,1층,B,6,1,30,-33,R_price,2018-10-29 09:20:00,1,0,비회원,0,0,0,0,3,1784,0.822372,99.861265,30000.0,100000.0,NaN,NaN,281,1521,29.732137,0.778523,42.273689,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955296,50.0,F,2023-06-30 00:00:00,16:45:00,2023-07-07,19:30:00,1층 E블록6열 2,70000,0,일반,914,2023-04-06 00:00:00,2023-04-07 00:00:00,독주,100,20,2023-06-30,0.0,70000.0,루돌프 부흐빈더 베토벤 피아노 소나타 전곡 Ⅱ,(주)빈체로,NaN,NaN,130000.0,100000.0,70000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A_price,2023-06-30 19:30:00,1층,E,6,2,75,-33,A_price,2023-06-30 16:45:00,698,0,일반,0,0,0,1,1,714,0.001335,1.537585,50000.0,70000.0,20000.0,0.0,404,474,30.479501,0.890380,41.009087,4
955297,40.0,F,2023-06-30 00:00:00,17:02:00,2023-07-07,19:30:00,1층 E블록9열 1,63000,0,골드회원 할인10%,914,2023-04-06 00:00:00,2023-04-07 00:00:00,독주,100,20,2023-06-30,10.0,70000.0,루돌프 부흐빈더 베토벤 피아노 소나타 전곡 Ⅱ,(주)빈체로,NaN,NaN,130000.0,100000.0,70000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A_price,2023-06-30 19:30:00,1층,E,9,1,74,-36,A_price,2023-06-30 17:02:00,698,0,일반,1,0,1,13,1,714,0.001198,1.252847,50000.0,70000.0,18000.0,0.1,404,474,31.827661,0.906040,43.726970,4
955298,30.0,M,2023-06-30 00:00:00,18:02:00,2023-07-07,19:30:00,2층 E블록7열 3,50000,0,일반,914,2023-04-06 00:00:00,2023-04-07 00:00:00,독주,100,20,2023-06-30,0.0,50000.0,루돌프 부흐빈더 베토벤 피아노 소나타 전곡 Ⅱ,(주)빈체로,NaN,NaN,130000.0,100000.0,70000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B_price,2023-06-30 19:30:00,2층,E,7,3,81,-63,B_price,2023-06-30 18:02:00,698,0,싹틔우미,0,0,0,1,1,714,0.000712,0.911162,50000.0,50000.0,0.0,0.0,404,474,57.801384,0.633110,30.113733,4
955299,30.0,F,2023-06-30 00:00:00,18:28:00,2023-07-07,19:30:00,2층 B블록4열 6,63000,0,골드회원 할인10%,914,2023-04-06 00:00:00,2023-04-07 00:00:00,독주,100,20,2023-06-30,10.0,70000.0,루돌프 부흐빈더 베토벤 피아노 소나타 전곡 Ⅱ,(주)빈체로,NaN,NaN,130000.0,100000.0,70000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A_price,2023-06-30 19:30:00,2층,B,4,6,36,-60,A_price,2023-06-30 18:28:00,698,0,싹틔우미,1,0,0,11,1,714,0.000502,0.797267,50000.0,70000.0,18000.0,0.1,404,474,49.648766,0.776286,18.799885,4
955300,NaN,NaN,2023-06-30 00:00:00,19:05:00,2023-07-07,19:30:00,합창석 F블록1열 2,50000,0,일반,914,2023-04-06 00:00:00,2023-04-07 00:00:00,독주,100,20,2023-06-30,0.0,50000.0,루돌프 부흐빈더 베토벤 피아노 소나타 전곡 Ⅱ,(주)빈체로,NaN,NaN,130000.0,100000.0,70000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B_price,2023-06-30 19:30:00,합창석,F,1,2,71,-18,B_price,2023-06-30 19:05:00,698,0,비회원,0,0,0,0,1,714,0.000202,0.683371,50000.0,50000.0,0.0,0.0,404,474,19.646883,0.306488,14.743563,4

In [198]:
%%time
df['limit']=np.NaN
for index, row in df.iterrows():
    if np.max(row[23:34])==row['rev_seat']:
        df.loc[index, 'limit']=row['afford']
    elif np.isnan(row.rev_seat)==False:
        df.loc[index, 'limit']=(min(row[23:34][row[23:34]>row.rev_seat])-row['min_price'])*(1-row['discount_number'])

CPU times: total: 3min 17s
Wall time: 7min 35s

In [200]:
df.to_csv('df_real_final3.csv', index=False)

In [204]:
df[df.title.isna()==False][df[df.title.isna()==False].title.str.contains('한화생명')].title.unique()

array(['한화생명과 함께하는 예술의전당 11시 콘서트(3월) SAC기획',
       '한화생명과 함께하는 예술의전당 11시 콘서트(4월) SAC기획',
       '한화생명과 함께하는 예술의전당 11시 콘서트(5월) SAC기획',
       '한화생명과 함께하는 예술의전당 11시 콘서트(6월) SAC기획'], dtype=object)

In [210]:
df[df.title=='한화생명과 함께하는 예술의전당 11시 콘서트(3월) SAC기획'].genre

951483    뮤지컬
951484    뮤지컬
951485    뮤지컬
951486    뮤지컬
951487    뮤지컬
         ...
954418    뮤지컬
954419    뮤지컬
954420    뮤지컬
954421    뮤지컬
954422    뮤지컬
Name: genre, Length: 2940, dtype: object