In [1]:
import pandas as pd
pd.set_option('display.max_columns', None) # 모든 열 출력
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None) # 모든 열 출력
from datetime import datetime, timedelta
# 한글폰트 사용을 위해 설치
# 아래 모듈을 설치하고 불러오면 별도의 한글폰트 설정이 필요 없습니다.
!pip install koreanize-matplotlib

import koreanize_matplotlib

import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina' ## 그림 더 선명하게

Requirement already satisfied: koreanize-matplotlib in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (0.1.1)
Requirement already satisfied: matplotlib in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from koreanize-matplotlib) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in c:\users\horri\appdata\roaming\python\python311\site-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\horri\anaconda3\envs\bigcon\lib\site-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\horri\appdata\roaming\python\python311\site-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\horri\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)

# 시작

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data=pd.read_csv('found_seat.csv').drop('Unnamed: 0',axis=1)

In [4]:
data['play_date_time'].value_counts()

play_date_time
2019-12-04 20:00:00    4923
2023-07-01 17:00:00    4415
2023-06-24 17:00:00    4361
2023-02-25 17:00:00    4277
2023-06-08 19:30:00    3934
                       ...
2021-12-12 17:00:00     127
2021-05-11 19:30:00     124
2019-12-25 20:00:00      82
2019-05-10 19:00:00      76
2021-09-14 19:30:00      42
Name: count, Length: 743, dtype: int64

In [5]:
df=data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095475 entries, 0 to 1095474
Data columns (total 55 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   age                483302 non-null   float64
 1   gender             483651 non-null   object
 2   membership_type_1  483651 non-null   object
 3   membership_type_2  388820 non-null   object
 4   membership_type_3  140149 non-null   object
 5   membership_type_4  25104 non-null    object
 6   membership_type_5  1110 non-null     object
 7   tran_date          1095475 non-null  object
 8   tran_time          1095475 non-null  object
 9   play_date          1095475 non-null  object
 10  play_st_time       1095475 non-null  object
 11  seat               1095475 non-null  object
 12  price              1095475 non-null  int64
 13  ticket_cancel      1095475 non-null  int64
 14  discount_type      1095475 non-null  object
 15  performance_code   1095475 non-null  int64
 16  pre_open_date      701323 non-null   object
 17  open_date          1095475 non-null  object
 18  genre              1070402 non-null  object
 19  place              1095475 non-null  object
 20  running_time       1095475 non-null  int64
 21  intermission       1095475 non-null  int64
 22  member_yn          1095475 non-null  object
 23  real_play_date     1095475 non-null  object
 24  discount_percent   503353 non-null   float64
 25  origin_price       1095475 non-null  float64
 26  origin_price1      503353 non-null   float64
 27  origin_price2      11023 non-null    float64
 28  title              1082504 non-null  object
 29  entry_age          1054653 non-null  object
 30  run_time           1046511 non-null  object
 31  pay_price          1016010 non-null  object
 32  hold               1056217 non-null  object
 33  agency             635871 non-null   object
 34  sponser            441962 non-null   object
 35  R_price            1014287 non-null  float64
 36  S_price            1021553 non-null  float64
 37  A_price            1013893 non-null  float64
 38  B_price            836221 non-null   float64
 39  C_price            336409 non-null   float64
 40  glee               111107 non-null   float64
 41  normal             126269 non-null   float64
 42  first_level        88095 non-null    float64
 43  second_level       88095 non-null    float64
 44  third_level        116160 non-null   float64
 45  all                90450 non-null    float64
 46  seat_level         1095475 non-null  object
 47  play_date_time     1095475 non-null  object
 48  floor              1095475 non-null  object
 49  block              1095475 non-null  object
 50  seat_line          1095475 non-null  int64
 51  seat_number        1095475 non-null  int64
 52  x                  1095475 non-null  int64
 53  y                  1095475 non-null  int64
 54  grade              1095475 non-null  object
dtypes: float64(16), int64(9), object(30)
memory usage: 459.7+ MB

## grade에 있는 more과 unknown 좌석을 seat_level에 채우기

In [6]:
df.loc[df.seat_level=='unknown','seat_level']=df.loc[df.seat_level=='unknown','grade']
df.loc[df.seat_level=='more','seat_level']=df.loc[df.seat_level=='more','grade']

## date랑 time 묶기

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime, timedelta

#날짜랑 시간 합치기
df['tran_date_time']=df['tran_date']+' '+df['tran_time']
df['play_date_time']=df['play_date']+' '+df['play_st_time']
df['tran_date_time'] = pd.to_datetime(df['tran_date_time'], format='%Y-%m-%d %H:%M:%S')
df['play_date_time'] = pd.to_datetime(df['play_date_time'], format='%Y-%m-%d %H:%M:%S')

#날짜로 변환
df['pre_open_date']=pd.to_datetime(df['pre_open_date'])
df['open_date']=pd.to_datetime(df['open_date'])
df['tran_date']=pd.to_datetime(df['tran_date'])
df['play_date']=pd.to_datetime(df['play_date'])

#공연일은 7일 앞당기고 거래일, 예매시작일과 선예매 시작은 3일 앞당김
df['play_date_time'] = df['play_date_time'] - timedelta(days=7)
df['tran_date_time'] = df['tran_date_time'] - timedelta(days=3)
df['pre_open_date'] = df['pre_open_date'] - timedelta(days=3)
df['open_date'] = df['open_date'] - timedelta(days=3)
df['tran_date'] = df['tran_date'] - timedelta(days=3)
df['play_date'] = df['tran_date'] - timedelta(days=7)

### 초대권인데 50000원 제거

In [8]:
df[df['discount_type']=='초대권']['price'].unique()

array([    0, 50000], dtype=int64)

In [9]:
df[(df['discount_type']=='초대권')&(df['price']==50000)]

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,real_play_date,discount_percent,origin_price,origin_price1,origin_price2,title,entry_age,run_time,pay_price,hold,agency,sponser,R_price,S_price,A_price,B_price,C_price,glee,normal,first_level,second_level,third_level,all,seat_level,play_date_time,floor,block,seat_line,seat_number,x,y,grade,tran_date_time
24507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-23,11:28:00,2023-03-16,19:30:00,1층 C블록13열 1,50000,2,초대권,2231,NaT,2023-03-17,교향곡,콘서트홀,120,0,N,2023-05-03,NaN,50000.0,NaN,NaN,제44회 유나이티드 필하모닉 오케스트라와 함께하는 가족음악회,7세 이상,120,"전석 50,000원",(재)유나이티드문화재단,예인예술기획,"국민일보, 기독교TV, C channel, 극동방송",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000.0,unknown,2023-05-03 19:30:00,1층,C,13,1,44,-40,unknown,2023-03-23 11:28:00

In [10]:
df=df[~((df['discount_type']=='초대권')&(df['price']==50000))]

## 전석초대 빼기

In [11]:
#모든 좌석등급의 가격이 0원인 공연 삭제
df=df[df['all']!=0]

In [12]:
#모든 price가 0인 공연 삭제
df1=df.groupby('play_date_time')['price'].mean().reset_index()
df1=df1[df1['price']==0]
play_date_time_list = df1['play_date_time'].tolist()
df=df[~df['play_date_time'].isin(play_date_time_list)]
df['play_date_time'].nunique()

675

## 차액 지우기

In [13]:
df=df[df['discount_type']!='차액']

## missing -> free로 바꾸기(행101개)

In [14]:
df[df['seat_level']=='missing']['price'].unique()

array([0], dtype=int64)

In [15]:
df.loc[df.seat_level=='missing','seat_level']='free'  #discount_percent가 있는데 가격이 0원임

## 중복 지우기, 공연진행석 지우기 (행 지우기)

In [16]:
## 모든 열 중복인 14개 삭제
df.drop_duplicates(inplace = True)

## 공연진행석 삭제
df = df[df['discount_type']!='공연진행석']

## 안 쓰는 열 지우기, 열 이름 바꾸기

In [17]:
## 안 쓰는 열 삭제
cl = ['origin_price', 'origin_price2', 'run_time','pay_price','place']
df.drop(columns=cl, axis =1, inplace =True)

## origin_price1열 이름 바꾸기 -> rev_dis 파생변수 생성완료
df = df.rename(columns={'origin_price1':'rev_dis'})

## 러닝타임 정리하기

In [18]:
#러닝타임 0이면 러닝타임 70, 인터미션 0으로 
#러닝타임 15면 러닝타임 90, 인터미션 15로 넣어줌
df.loc[df['running_time'] == 0, ['intermission','running_time']] = [0,70]
df.loc[df['running_time'] == 15, ['intermission','running_time']] = [15,90]

## 날짜별 정렬 및 공연명 라벨링

In [19]:
#play_date_time -> tran_date_time 순으로 정렬
df=df.sort_values(by=['play_date_time','tran_date_time'])

#play_date_time이 바뀔 때마다 숫자 바꿔서 라벨링
df['label'] = (df['play_date_time'] != df['play_date_time'].shift()).cumsum()

## cancel_yn 파생변수 만들고, 같은 좌석에 대하여 여러번 예매된 경우 지우기( 30000개 이상 행 )
- cancel_yn을 이 부분에 사용해야해서 부득이하게 이 부분에 넣어둠
- cancel_yn(마지막에 그 자리가 결국 취소가 됐는지 여부)
- 취소 : 1
- 취소x : 0

In [20]:
# 마지막에 결국 취소가 됐는지 여부(cancel_yn) 변수
ticket_data = df[['play_date_time','seat','ticket_cancel','tran_date_time']]
#공연별로 맨 마지막 거래의 ticket_cancel을 확인함
last_ticket_cancel = ticket_data.sort_values('tran_date_time').groupby(['play_date_time','seat']).tail(1)
last_ticket_cancel.loc[:,'cancel_yn'] = last_ticket_cancel['ticket_cancel'].apply(lambda x: 0 if x == 0 else 1)
df=df.merge(last_ticket_cancel[['play_date_time','seat','cancel_yn']],how='left')
# 취소가 됐으면 1, 취소 안됐으면 0

In [21]:
# 결국 취소된 티켓인데 ticket_cancel이 0인 행 삭제
df=df.drop(df[(df['ticket_cancel']==0)&(df['cancel_yn']==1)].index)
df0=df[(df['ticket_cancel']==0)&(df['cancel_yn']==0)]  # 실제 예매된 공연
df1=df.drop(df0.index) #df0 + df1 = df

#ticket_cancel이 0인 경우에 대해서 라벨과 좌석이 중복이면 맨 아래 행만 남기고 나머지 삭제
df0=df0.drop_duplicates(subset=['play_date_time','seat'],keep='last')
df=pd.concat([df0,df1]) #df0과 df1 합쳐줌

In [22]:
df=df.sort_values(['play_date_time','tran_date_time'])

## 나이, 유료무료 회원 멤버십, 할인/나이 채우기, 멤버십 유뮤

In [23]:
#회원이 아닌데 멤버쉽타입이 있는 경우 회원이라고 간주
df.loc[(df['member_yn']=='N')&(df['membership_type_1'].notna()),'member_yn']='Y'

#나이 멤버쉽 열 생성
#회원이면 일반으로, 비회원이면 비회원으로 입력
df['age_mb'] = df['member_yn'].apply(lambda x: '일반' if x == 'Y' else '비회원')
#싹틔우미로 변경
idx=df[(df['membership_type_2']=='싹틔우미')|(df['membership_type_3']=='싹틔우미') 
     |(df['membership_type_4']=='싹틔우미')|(df['membership_type_5']=='싹틔우미')].index
df.loc[idx, 'age_mb'] = '싹틔우미' 
#노블로 변경
idx=df[(df['membership_type_2']=='노블')|(df['membership_type_3']=='노블')
     |(df['membership_type_4']=='노블')|(df['membership_type_5']=='노블')].index
df.loc[idx, 'age_mb'] = '노블' 

#유료멤버쉽 원핫인코딩으로 변환
#유료 멤버쉽 전부 0으로 설정
df['gld_mb']=0 
df['bl_mb']=0
df['grn_mb']=0
#골드에 1 넣음
idx=df[(df['membership_type_1']=='골드')|(df['membership_type_2']=='골드')|(df['membership_type_3']=='골드')
     |(df['membership_type_4']=='골드')|(df['membership_type_5']=='골드')].index
df.loc[idx, 'gld_mb'] = 1
#블루에 1 넣음
idx=df[(df['membership_type_1']=='블루')|(df['membership_type_2']=='블루')|(df['membership_type_3']=='블루')
     |(df['membership_type_4']=='블루')|(df['membership_type_5']=='블루')].index
df.loc[idx, 'bl_mb'] = 1
#그린에 1 넣음
idx=df[(df['membership_type_1']=='그린')|(df['membership_type_2']=='그린')|(df['membership_type_3']=='그린')
     |(df['membership_type_4']=='그린')|(df['membership_type_5']=='그린')].index
df.loc[idx, 'grn_mb'] = 1

#멤버쉽 열 삭제
cl = ['membership_type_1', 'membership_type_2', 'membership_type_3', 'membership_type_4', 'membership_type_5','member_yn']
df.drop(columns=cl,inplace=True)

In [24]:
#싹틔우미 아닌데 싹틔우미 할인 받은 경우 -> 싹틔우미로 채우기
idx=df[(df['age_mb']!='싹틔우미')&(df['discount_type'].str.contains('싹틔우미'))].index
df.loc[idx,'age_mb']='싹틔우미'

#노블 아닌데 노블 할인 받은 경우 -> 노블로 채우기
idx=df[(df['age_mb']!='노블')&(df['discount_type'].str.contains('노블'))].index
df.loc[idx,'age_mb']='노블'

#골드회원 아닌데 골드할인 받은 경우 -> 골드로 채우기
idx=df[(df['gld_mb']==0)&(df['discount_type'].str.contains('골드'))].index
df.loc[idx,'gld_mb']=1

#블루회원 아닌데 블루할인 받은 경우 -> 블루로 채우기
idx=df[(df['bl_mb']==0)&(df['discount_type'].str.contains('블루'))].index
df.loc[idx,'bl_mb']=1

#그린회원 아닌데 그린할인 받은 경우 -> 그린으로 채우기
idx=df[(df['grn_mb']==0)&(df['discount_type'].str.contains('그린'))].index
df.loc[idx,'grn_mb']=1

In [25]:
#유료멤버쉽 있는데 비회원일 경우 무료멤버쉽 일반으로 채움
df.loc[((df['gld_mb']==1)|(df['bl_mb']==1)|(df['grn_mb']==1))&(df['age_mb']=='비회원'),'age_mb']='일반'

## 장르채우기

In [26]:
# 아동 대상으로 한 공연 장르 아동으로 분류
df.loc[(df['entry_age']=='48개월 이상')&(df['entry_age']=='36개월 이상')&(df['title']=='핑크퐁 클래식 나라'),'genre']='아동'
#입장연령 삭제 
df.drop('entry_age', axis=1, inplace=True)

In [27]:
df[df['title'].str.contains("콩쿠르",na=False)]['title'].unique()

array(['LG와 함께하는 제15회 서울국제음악콩쿠르(결선/3.30)', '제 16회 차이콥스키 콩쿠르 우승자 갈라콘서트',
       'KSO국제지휘콩쿠르 결선 : 코리안심포니오케스트라 공동주최', '2021 서울시향 쇼팽 콩쿠르 스페셜',
       '쇼팽 피아노 콩쿠르 우승자 브루스 리우 피아노 리사이틀'], dtype=object)

In [28]:
#콩쿠르일 경우 장르에 콩쿠르라고 넣어줌
df.loc[(df['title']=='LG와 함께하는 제15회 서울국제음악콩쿠르(결선/3.30)')|(df['title']=='KSO국제지휘콩쿠르 결선 : 코리안심포니오케스트라 공동주최'), 'genre'] = '콩쿠르'

In [29]:
#장르 nan인 경우 홈페이지에서 찾은 장르로 채우기
from pandas import Timestamp
playdate=[Timestamp('2023-06-29 11:00:00'),Timestamp('2023-03-09 11:00:00'),Timestamp('2022-11-13 20:00:00'),Timestamp('2023-03-24 11:00:00'),Timestamp('2023-05-11 11:00:00'),
 Timestamp('2022-02-19 17:00:00'),Timestamp('2023-05-11 19:30:00'),Timestamp('2023-06-23 11:00:00'),Timestamp('2021-06-30 19:30:00'),Timestamp('2022-03-12 17:00:00'),Timestamp('2021-09-05 17:00:00')]
ge_list=['뮤지컬','클래식','클래식','클래식','클래식','클래식','클래식','뮤지컬','교향곡','클래식','실내악']
for i in range(len(playdate)):
    df.loc[df['play_date_time']==playdate[i],'genre']=ge_list[i]

# 파생변수 만들기
- loyalty
- seat_count
- cancel_yn(위에서 이미 했음)
- ticket_count
- like
- like_ratio
- min_price
- rev_seat
- rank
- afford
- cancel_num
- tran_rate
- distance
- days
- angle_degrees
- divide_discount
- seat_count
- seat_hot

In [30]:
data=df.copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 921469 entries, 0 to 954336
Data columns (total 50 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   age               449582 non-null  float64
 1   gender            449931 non-null  object
 2   tran_date         921469 non-null  datetime64[ns]
 3   tran_time         921469 non-null  object
 4   play_date         921469 non-null  datetime64[ns]
 5   play_st_time      921469 non-null  object
 6   seat              921469 non-null  object
 7   price             921469 non-null  int64
 8   ticket_cancel     921469 non-null  int64
 9   discount_type     921469 non-null  object
 10  performance_code  921469 non-null  int64
 11  pre_open_date     628543 non-null  datetime64[ns]
 12  open_date         921469 non-null  datetime64[ns]
 13  genre             921469 non-null  object
 14  running_time      921469 non-null  int64
 15  intermission      921469 non-null  int64
 16  real_play_date    921469 non-null  object
 17  discount_percent  468522 non-null  float64
 18  rev_dis           468522 non-null  float64
 19  title             917149 non-null  object
 20  hold              891437 non-null  object
 21  agency            532074 non-null  object
 22  sponser           382654 non-null  object
 23  R_price           881655 non-null  float64
 24  S_price           888711 non-null  float64
 25  A_price           881506 non-null  float64
 26  B_price           710948 non-null  float64
 27  C_price           235739 non-null  float64
 28  glee              21316 non-null   float64
 29  normal            35959 non-null   float64
 30  first_level       109 non-null     float64
 31  second_level      109 non-null     float64
 32  third_level       26457 non-null   float64
 33  all               0 non-null       float64
 34  seat_level        921469 non-null  object
 35  play_date_time    921469 non-null  datetime64[ns]
 36  floor             921469 non-null  object
 37  block             921469 non-null  object
 38  seat_line         921469 non-null  int64
 39  seat_number       921469 non-null  int64
 40  x                 921469 non-null  int64
 41  y                 921469 non-null  int64
 42  grade             921469 non-null  object
 43  tran_date_time    921469 non-null  datetime64[ns]
 44  label             921469 non-null  int32
 45  cancel_yn         921469 non-null  int64
 46  age_mb            921469 non-null  object
 47  gld_mb            921469 non-null  int64
 48  bl_mb             921469 non-null  int64
 49  grn_mb            921469 non-null  int64
dtypes: datetime64[ns](6), float64(14), int32(1), int64(13), object(16)
memory usage: 387.3+ MB

## loyalty(고객충성도)
- 비회원은 0, 무료회원은 1
- 유료 회원은 가중치를 연간 회원비로 하여 더함

In [31]:
# 고객 충성도 = 골드 회원은 가중치 10, 블루 회원이면 가중치 4, 그린이면 2(연회비 기준), 무료회원이면 1, 비회원이면 0
data['loyalty']=data['gld_mb']*10+data['bl_mb']*4+data['grn_mb']*2+[int(i!='비회원') for i in data['age_mb']]

## ticket_count(공연에서 예매된 좌석 수)

In [32]:
# 예매된 좌석 수 (ticket_count) 변수 -> ticket_count/전체좌석수 = 예매율
performance_data = data[['play_date_time']].drop_duplicates()
series=data.groupby(['play_date_time']).cancel_yn.count()-data.groupby(['play_date_time']).cancel_yn.sum()
series.name='ticket_count'
data=pd.merge(data,pd.merge(left=performance_data,right=series,left_on='play_date_time',right_index=True),on='play_date_time')

## like (공연을 얼마나 빨리 예매했는지, 즉 공연에 얼마나 관심이 많은지)
- 이때부터 데이터 이름 = data_d
- like = (play_date_time-tran_date_time)/(play_date_time-open_date)  -> 선예매가 없으면
- like = (play_dat_timee-tran_date_time)/(play_date_time-pre_open_date)  -> 선예매가 있으면

- 단 오류 행 존재(오류가 있는 공연이 37개)
1. 선예매가 예매 오픈일보다 느린 경우=> 둘의 선후관계를 바꿔줌
2. 선예매가 없는 공연에 open_date보다 tran_date가 빠를 때
   선예매가 있는 공연에 대해 pre_open보다 tran_date가 빠를 때
   
   => 공연에 오류 행이 많으면 가장 빠른 예매일을 pre_open 혹은 open_date로 바꿔준다
   
   => 그 공연을 예매한 전체 티켓 수 중에 오류가 있는 행이 적으면 그 행 자체를 오류나 테스트 데이터로 판단하고 삭제(기준 : 전체 티켓 수 중 5%보다 오류행이 적고, 오류행 40개 미만) 미만)

In [33]:
#선예매가 예매오픈보다 느린 경우 (2가지) -> 오류라고 판단, 선후 관계를 바꿔줌
data.loc[data['play_date_time']=='2022-12-20 20:00:00','pre_open_date']=datetime(2022,10,27)
data.loc[data['play_date_time']=='2022-12-20 20:00:00','open_date']=datetime(2022,11,2)
data.loc[data['play_date_time']=='2021-12-04 17:00:00','pre_open_date']=datetime(2021,11,15)
data.loc[data['play_date_time']=='2021-12-04 17:00:00','open_date']=datetime(2021,11,16)

In [37]:
# 그 자리를 예매한 총 고객 수
data_perf=data.groupby(['play_date_time']).count()['price']
# 선예매가 없는 공연에 대해 open_date보다 tran_date가 빠를 때
a_1=data[(data['open_date']>data['tran_date'])&(data['pre_open_date'].isna()==True)&(data.price!=0)]['play_date_time'].value_counts()
# 선예매가 있는 공연에 대해 pre_open_date보다 tran_date가 빠를 때
a_2=data[(data['pre_open_date']>data['tran_date'])&(data['pre_open_date'].isna()==False)&(data.price!=0)]['play_date_time'].value_counts()
a_3=pd.concat([a_1,a_2])
fin=pd.merge(a_3.to_frame(),data_perf.to_frame(),left_index=True, right_index=True)
fin['ratio']=fin['count']/fin['price']
fin1=fin[(fin.ratio>0.05)&(fin['count']>40)]  #이 공연에 대해서는 pre_open=open=min(tran)
fin1=pd.merge(data.groupby('play_date_time')[['tran_date_time','open_date','pre_open_date','play_date_time']].min(),fin1,left_index=True, right_index=True)
fin1['diff']=fin1['open_date']-fin1['tran_date_time']

In [38]:
data_d=data.copy()
for i in data_d.index.tolist():
    str_date=data_d.loc[i,'play_date_time']
    if data_d.loc[i,'play_date_time'] in fin1.index.tolist():
        data_d.loc[i,'pre_open_date']=fin1.loc[str_date]['tran_date_time']
        data_d.loc[i,'open_date']=fin1.loc[str_date]['tran_date_time']
    else:
        pass

pre=(data_d.play_date_time-data_d.tran_date_time)/(data_d.play_date_time-data_d.pre_open_date)
not_pre=((data_d.play_date_time-data_d.tran_date_time)/(data_d.play_date_time-data_d.open_date))
data_d.loc[:,'like']=pre.fillna(not_pre)

# tran_date, open_date, pre_open_date 사이에 안맞는거 빼기 (3000개 정도 나옴)
data_d=data_d[data_d['like']<=1]

## like_ratio (like의 공연의 퍼센타일)
- 공연 내에서의 상대적인 like

In [39]:
#like_ratio 변수 -> like의 공연의 퍼센타일
import numpy as np
def percentile_func(x):
    return np.percentile(x,(x.index(value)+1)/len(x)*100)

data_d.loc[:,'like_ratio']=data_d.groupby('play_date_time')['like'].transform(lambda x: x.rank(pct=True) * 100)

## min_price( 공연에 매겨진 좌석 등급의 가격 중 가장 싼 것)

In [40]:
data_d['min_price']=data_d.iloc[:, 23:34].min(axis=1)

## rev_seat(고객의 실제 좌석 등급의 정가)

In [41]:
data_d['rev_seat']=[None]*data_d.shape[0]
def rev_seat(row):
    if row.grade not in ['unknown', 'free']:
        return row[row.grade]
    else:
        return None
data_d['rev_seat']= data_d.apply(rev_seat, axis=1)

### 좌석 등급 매칭 보정

In [42]:
len(data_d[data_d.price>data_d.rev_seat])

1409

In [43]:
for index, row in data_d[data_d.price>data_d.rev_seat].iterrows():
    data_d.loc[index, 'rev_seat']= min(row[23:34][row[23:34]>row.price])
    data_d.loc[index, 'grade']= data_d.columns[23+np.argmin(row[23:34][row[23:34]>row.price])]

In [44]:
len(data_d[data_d.price>data_d.rev_seat])

0

## afford(min_price(공연의 최소금액으로부터 낸 금액)

In [45]:
# price 열에서 최솟값을 빼서 afford 생성
data_d['afford']=np.NaN
data_d['discount_number'] = data_d['discount_percent']/100
# price 열에서 최솟값을 빼서 afford 생성
data_d['afford'] = (data_d['rev_seat'] - data_d['min_price'])*(1-data_d['discount_number'])
data_d.loc[data_d.afford.isna()==False,'afford']=data_d.loc[data_d.afford.isna()==False,'afford'].astype(int)

## cancel_num(취소수)

In [46]:
df_ticket_cancel = data_d[data_d['ticket_cancel']==2]
df_ticket_cancel = df_ticket_cancel.groupby(['play_date_time']).size().reset_index(name='cancel_num').copy()

# 'play_date_time' 기준으로 합치기
data_d=pd.merge(data_d, df_ticket_cancel, on=['play_date_time'], how='left')

## tran_rate(예매율) -> 데이터 프레임 이름 : data_fin

In [47]:
# 원래 DataFrame과 병합
data_fin = data_d.merge(data_d[data_d['ticket_cancel'] == 0].groupby(['play_date_time'])['ticket_cancel'].count().reset_index(), on='play_date_time', suffixes=('', '_count'))
data_fin.rename(columns={'ticket_cancel_count': 'tran_rate'}, inplace=True)

## distance(무대 중심으로부터 좌석의 거리)

In [48]:
# distance
# 무대의 위치 (x2, y2)
x2 = 52
y2 = -13
data_fin['distance'] = np.sqrt((x2 - data_fin['x'])**2 + (y2 - data_fin['y'])**2)

## days(공연날짜 요일 : 월요일부터 0)

In [49]:
# 기준일자 날짜형 변수로 변경
import datetime as dt
data_fin['days']=data_fin['play_date_time'].dt.weekday

In [50]:
data_fin['grade'].unique()

array(['R_price', 'S_price', 'B_price', 'A_price', 'C_price', 'glee',
       'normal', 'second_level', 'third_level', 'first_level'],
      dtype=object)

## angle_degrees(각도) -> 무대와 좌석의 각도

In [51]:
# 무대의 위치 (x2, y2)
x2 = 52
y2 = -13

# 각 좌표에 대한 각도를 계산하는 함수
def calculate_angle(x, y):
    # 중심점으로부터의 상대적인 좌표 계산
    rel_x, rel_y = x - x2, y - y2
    
    # 각도 계산 (라디안 단위)
    angle_rad = np.arctan2(rel_y, rel_x)
    
    # 각도를 0에서 90도 사이로 변환 (0부터 90까지의 범위로)
    angle_deg = (np.degrees(angle_rad) + 360) % 90
    
    # 대칭인 좌표에 대해 동일한 각도를 부여하기 위한 보정
    if angle_deg > 45:
        angle_deg = 90 - angle_deg
    
    return angle_deg

# 데이터프레임에 angle_degrees 열 추가
data_fin['angle_degrees'] = data_fin.apply(lambda row: calculate_angle(row['x'], row['y']), axis=1)

## divide_discount (할인 타입 : 0원, 정가지불, 회원할인, 나머지 할인)

In [52]:
# price_0 변수 생성
data_fin['divide_discount'] = 0 

# 조건에 따라 price_0 값 업데이트 0/정가/회원할인/외부할인
data_fin.loc[data_fin['price'] == 0, 'divide_discount'] = 0  # price가 0인 경우 0으로 유지
data_fin.loc[(data_fin['discount_type'] == '일반'), 'divide_discount'] = '정가'
data_fin.loc[data_fin['discount_type'].str.contains("골드|블루|그린|후원회원|싹틔우미|노블"), 'divide_discount' ] = '회원할인'
data_fin.loc[~((data_fin['price'] == 0) | (data_fin['discount_type'] == '일반') |(data_fin['discount_type'].str.contains("골드|블루|그린|후원회원|싹틔우미|노블"))), 'divide_discount'] = '할인'
data_fin.loc[data_fin['discount_type'].str.contains("KBS교향악단"), 'divide_discount' ] = '할인'

## seat_count(같은 공연에서 해당자리를 예매한 총 고객수 취소표포함)

In [53]:
# 그 자리를 예매한 총 고객수(seat_count) 변수
data_fin=pd.merge(data_fin,(data_fin.groupby(['play_date_time','seat']).count()['price']),on=['play_date_time','seat'],suffixes=['','_count'])
data_fin.rename(columns={'price_count':'seat_count'}, inplace=True)

## rank (해당 좌석이 해당 공연에서 몇 번째로 비싼 좌석인지)

In [54]:
def calculate_rank(row):
    grade_column_name = row['grade']
    if grade_column_name in data_fin.columns:
        max_value = row[grade_column_name]
        rank = (row[['R_price', 'S_price', 'B_price', 'A_price', 'C_price', 'glee', 'normal', 'second_level', 'third_level', 'first_level']] >= max_value).sum()
        return rank
    else:
        return None

data_fin['rank'] = data_fin.apply(calculate_rank, axis=1)

KeyboardInterrupt:

### 코로나시기 데이터랑 코로나시기 아닌 데이터 분리
- 2020년 2월부터 2022년 4월까지를 코로나시기라고 정의함

In [131]:
start_date = pd.Timestamp('2020-02-01')  # 2020년 2월 1일
end_date = pd.Timestamp('2022-04-30')    # 2022년 4월 30일

# 해당하는 행 (2020년 2월에서 2022년 4월 사이)
cov_data = data_fin[(data_fin['play_date_time'] >= start_date) & (data_fin['play_date_time'] <= end_date)].reset_index()

# 해당하지 않는 행 (2020년 2월에서 2022년 4월 사이가 아닌 것)
non_cov_data = data_fin[~((data_fin['play_date_time'] >= start_date) & (data_fin['play_date_time'] <= end_date))].reset_index()

## seat_hot(해당 좌석의 인기도=총 예매 티켓 중 그 좌석의 비중을 정규화)

In [132]:
#코로나일 경우와 아닐 경우 분리해서 생각(좌석 띄어앉기 때문에 값이 달라질 것으로 예측함)
#코로나시기
data_t0=cov_data[cov_data['ticket_cancel']==0]
data_t0.groupby(['seat']).size().reset_index(name = 'seat_num')

# 'play_datetime','performance_code' 기준으로 합치기
data_t00=pd.merge(cov_data, data_t0.groupby(['seat']).size().reset_index(name = 'seat_num'), on=['seat'], how='left')

## seat_hot : 실제 판매된 특정 좌석의 수를 min-max 표준화
min_hot = data_t00['seat_num'].min()
max_hot = data_t00['seat_num'].max()
cov_data['seat_hot'] = (data_t00['seat_num'] - min_hot)/(max_hot - min_hot)

#코로나시기 아닐 때
data_t0=non_cov_data[non_cov_data['ticket_cancel']==0]
data_t0.groupby(['seat']).size().reset_index(name = 'seat_num')

# 'play_datetime','performance_code' 기준으로 합치기
data_t00=pd.merge(non_cov_data, data_t0.groupby(['seat']).size().reset_index(name = 'seat_num'), on=['seat'], how='left')

## seat_hot : 실제 판매된 특정 좌석의 수를 min-max 표준화
min_hot = data_t00['seat_num'].min()
max_hot = data_t00['seat_num'].max()
non_cov_data['seat_hot'] = (data_t00['seat_num'] - min_hot)/(max_hot - min_hot)

## final_df(필요없는 열 지우기)

In [ ]:
cov_data.drop(['tran_date','tran_time','play_date','play_st_time','discount_number'],axis=1,inplace=True)
non_cov_data.drop(['tran_date','tran_time','play_date','play_st_time','discount_number'],axis=1,inplace=True)

In [ ]:
#v파생변수들 확인해보기
col=['loyalty','cancel_yn','ticket_count','like','like_ratio','min_price','rev_seat','afford','cancel_num','tran_rate','distance','days','angle_degrees','divide_discount','seat_count','seat_hot']
cov_data[col]

In [ ]:
non_cov_data[col]

In [ ]:
final_data = pd.concat([cov_data, non_cov_data], axis=0)

In [ ]:
#csv 저장
cov_data.to_csv('cov_data.csv',index=False)
non_cov_data.to_csv('non_cov_data.csv',index=False)
final_data.to_csv('final_data.csv',index=False)